{
    "commands.basic": {
        "up [<n>]": "up [<n>]",
        "down [<n>]": "down [<n>]",
        "left [<n>]": "left [<n>]",
        "right [<n>]": "right [<n>]",
        "gope [<n>]": "gope [<n>]",
        "drop [<n>]": "drop [<n>]",
        "lope [<n>]": "lope [<n>]",
        "yope [<n>]": "yope [<n>]",
        "care": "care",
        "doll": "doll",
        "file top": "file top",
        "file toe": "file toe",
        "ace [<n>]": "ace [<n>]",
        "act": "act",
        "chuck [<n>]": "chuck [<n>]",
        "scratch [<n>]": "scratch [<n>]",
        "slap [<n>]": "slap [<n>]",
        "tab [<n>]": "tab [<n>]",
        "amp [<n>]": "amp [<n>]",
        "ash [<n>]": "ash [<n>]",
        "at sign [<n>]": "at sign [<n>]",
        "back ash [<n>]": "back ash [<n>]",
        "backtick [<n>]": "backtick [<n>]",
        "bang [<n>]": "bang [<n>]",
        "bar [<n>]": "bar [<n>]",
        "cross [<n>]": "cross [<n>]",
        "dollar [<n>]": "dollar [<n>]",
        "dot [<n>]": "dot [<n>]",
        "drip [<n>]": "drip [<n>]",
        "eek [<n>]": "eek [<n>]",
        "hat [<n>]": "hat [<n>]",
        "hyph [<n>]": "hyph [<n>]",
        "percent [<n>]": "percent [<n>]",
        "pop [<n>]": "pop [<n>]",
        "pound [<n>]": "pound [<n>]",
        "push [<n>]": "push [<n>]",
        "quest [<n>]": "quest [<n>]",
        "quote [<n>]": "quote [<n>]",
        "rail [<n>]": "rail [<n>]",
        "semi [<n>]": "semi [<n>]",
        "smote [<n>]": "smote [<n>]",
        "star [<n>]": "star [<n>]",
        "tilde [<n>]": "tilde [<n>]",
        "yeah [<n>]": "yeah [<n>]",
        "box": "box",
        "circle": "circle",
        "diamond": "diamond",
        "nest quote": "nest quote",
        "nest smote": "nest smote",
        "square": "square",
        "line down [<n>]": "line down [<n>]",
        "lineup [<n>]": "lineup [<n>]",
        "nab [<n>]": "nab [<n>]",
        "plop [<n>]": "plop [<n>]",
        "squishy [<n>]": "squishy [<n>]",
        "strip": "strip",
        "striss": "striss",
        "trance [<n>]": "trance [<n>]",
        "wipe [<n>]": "wipe [<n>]",
        "bump [<n>]": "bump [<n>]",
        "whack [<n>]": "whack [<n>]"
    }, "commands.vim": {
        "slowly right [<n>]": "slowly right [<n>]",
        "slowly left [<n>]": "slowly left [<n>]",
        "squishy space [<n>]": "squishy space [<n>]",
        "slowly up [<n>]": "slowly up [<n>]",
        "slowly down [<n>]": "slowly down [<n>]"
    }, "commands.python": {
        "elif": "elif",
        "compare lack": "compare lack",
        "bit and": "bit and",
        "is": "is",
        "deaf": "deaf",
        "private": "private",
        "times equal": "times equal",
        "mod equal": "mod equal",
        "in": "in",
        "compare greater": "compare greater",
        "dock string": "dock string",
        "compare less": "compare less",
        "if test": "if test",
        "compare not eek": "compare not eek",
        "plus equal": "plus equal",
        "with context": "with context",
        "raise": "raise",
        "divided equal": "divided equal",
        "divided": "divided",
        "except": "except",
        "log not": "log not",
        "compare eek": "compare eek",
        "print": "print",
        "set atter": "set atter",
        "bit ex or": "bit ex or",
        "lambda": "lambda",
        "assign": "assign",
        "return": "return",
        "dub dock string": "dub dock string",
        "bit ore": "bit ore",
        "log and": "log and",
        "else": "else",
        "assert": "assert",
        "plus": "plus",
        "import": "import",
        "not": "not",
        "minus equal": "minus equal",
        "class": "class",
        "get atter": "get atter",
        "has atter": "has atter",
        "none": "none",
        "times": "times",
        "try": "try",
        "compare geck": "compare geck",
        "while": "while",
        "values": "values",
        "as name": "as name",
        "for loop": "for loop",
        "log or": "log or",
        "minus": "minus",
        "delete": "delete"
    }, "commands.eclipse": {
        "rename": "rename",
        "move tab left [<n>]": "move tab left [<n>]",
        "who calls": "who calls",
        "hierarchy": "hierarchy",
        "slip [<n>]": "slip [<n>]",
        "save all": "save all",
        "stover [<n>]": "stover [<n>]",
        "organize imports": "organize imports",
        "step continue": "step continue",
        "shrink [<n>]": "shrink [<n>]",
        "open type": "open type",
        "find": "find",
        "mud [<n>]": "mud [<n>]",
        "save file": "save file",
        "spike [<n>]": "spike [<n>]",
        "redo [<n>]": "redo [<n>]",
        "stint [<n>]": "stint [<n>]",
        "stout [<n>]": "stout [<n>]",
        "land [<n>]": "land [<n>]",
        "correct": "correct",
        "move tab right [<n>]": "move tab right [<n>]",
        "go home": "go home",
        "popup": "popup",
        "glide [<n>]": "glide [<n>]",
        "cut it": "cut it",
        "go end": "go end",
        "perspective [<n>]": "perspective [<n>]",
        "chirp": "chirp",
        "link": "link",
        "slug [<n>]": "slug [<n>]",
        "pair": "pair",
        "new java docs": "new java docs",
        "block [<n>]": "block [<n>]",
        "view [<n>]": "view [<n>]",
        "close tab": "close tab",
        "close all tabs": "close all tabs",
        "undo [<n>]": "undo [<n>]",
        "snail [<n>]": "snail [<n>]",
        "open resource": "open resource",
        "refresh": "refresh",
        "choices": "choices",
        "squirt [<n>]": "squirt [<n>]",
        "copy it": "copy it",
        "complete [<n>]": "complete [<n>]"
    }
}
