{
    "commands": {
        "up [<n>]": "up [<n>]",
        "down [<n>]": "down [<n>]",
        "left [<n>]": "left [<n>]",
        "right [<n>]": "right [<n>]",
        "gope [<n>]": "gope [<n>]",
        "drop [<n>]": "drop [<n>]",
        "lope [<n>]": "lope [<n>]",
        "yope [<n>]": "yope [<n>]",
        "care": "care",
        "doll": "doll",
        "file top": "file top",
        "file toe": "file toe",
        "ace [<n>]": "ace [<n>]",
        "act": "act",
        "chuck [<n>]": "chuck [<n>]",
        "scratch [<n>]": "scratch [<n>]",
        "slap [<n>]": "slap [<n>]",
        "tab [<n>]": "tab [<n>]",
        "amp [<n>]": "amp [<n>]",
        "ash [<n>]": "ash [<n>]",
        "at sign [<n>]": "at sign [<n>]",
        "back ash [<n>]": "back ash [<n>]",
        "backtick [<n>]": "backtick [<n>]",
        "bang [<n>]": "bang [<n>]",
        "bar [<n>]": "bar [<n>]",
        "cross [<n>]": "cross [<n>]",
        "dollar [<n>]": "dollar [<n>]",
        "dot [<n>]": "dot [<n>]",
        "drip [<n>]": "drip [<n>]",
        "eek [<n>]": "eek [<n>]",
        "hat [<n>]": "hat [<n>]",
        "hyph [<n>]": "hyph [<n>]",
        "percent [<n>]": "percent [<n>]",
        "pop [<n>]": "pop [<n>]",
        "pound [<n>]": "pound [<n>]",
        "push [<n>]": "push [<n>]",
        "quest [<n>]": "quest [<n>]",
        "quote [<n>]": "quote [<n>]",
        "rail [<n>]": "rail [<n>]",
        "semi [<n>]": "semi [<n>]",
        "smote [<n>]": "smote [<n>]",
        "star [<n>]": "star [<n>]",
        "tilde [<n>]": "tilde [<n>]",
        "yeah [<n>]": "yeah [<n>]",
        "box": "box",
        "circle": "circle",
        "diamond": "diamond",
        "nest quote": "nest quote",
        "nest smote": "nest smote",
        "square": "square",
        "line down [<n>]": "line down [<n>]",
        "lineup [<n>]": "lineup [<n>]",
        "nab [<n>]": "nab [<n>]",
        "plop [<n>]": "plop [<n>]",
        "squishy [<n>]": "squishy [<n>]",
        "strip": "strip",
        "striss": "striss",
        "trance [<n>]": "trance [<n>]",
        "wipe [<n>]": "wipe [<n>]",
        "bump [<n>]": "bump [<n>]",
        "whack [<n>]": "whack [<n>]"
    }
}
