{
    "commands": {
        "up [<n>]": "up [<n>]",
        "down [<n>]": "down [<n>]",
        "left [<n>]": "left [<n>]",
        "right [<n>]": "right [<n>]",
        "gope [<n>]": "gope [<n>]",
        "drop [<n>]": "drop [<n>]",
        "lope [<n>]": "lope [<n>]",
        "yope [<n>]": "yope [<n>]",
        "care": "care",
        "doll": "doll",
        "file top": "file top",
        "file toe": "file toe",
        "ace [<n>]": "ace [<n>]",
        "act": "act",
        "chuck [<n>]": "chuck [<n>]",
        "scratch [<n>]": "scratch [<n>]",
        "slap [<n>]": "slap [<n>]",
        "tab [<n>]": "tab [<n>]",
        "line down [<n>]": "line down [<n>]",
        "lineup [<n>]": "lineup [<n>]",
        "nab [<n>]": "nab [<n>]",
        "plop [<n>]": "plop [<n>]",
        "squishy [<n>]": "squishy [<n>]",
        "strip": "strip",
        "striss": "striss",
        "trance [<n>]": "trance [<n>]",
        "wipe [<n>]": "wipe [<n>]",
        "bump [<n>]": "bump [<n>]",
        "whack [<n>]": "whack [<n>]"
    },
    "local_disable_context": "VIM",
    "proxy_disable_context": {"match": "regex", "title": "(?i).*VIM.*"}
}
